@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding:0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1 {

}

p {

}


/*-------------------------nav--*/

.nav-bar {
    font-family: 'Nunito', sans-serif;

}
.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: #475663;
}

/*-------------------------home--*/

.home-container {
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/hero-image.jpeg);
    background-position: no-repeat top left fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    

}

.jumbotron {
    background-color: transparent;
}

.logo {
    max-width: 100%;
    height: auto;
    
}

.home p {
    font-size: large;
    
}
/*-------------------------services--*/

/*-------------------------about--*/

/*-------------------------contact--*/



