@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');



body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 80px;

}

p {

}

/*-------------------------nav--*/

.navbar {
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: #475663;
}

/*-------------------------home--*/

.home-container {
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/hero-image.jpeg);
    /*-----background position found on W3schools---*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron {
    background-color: #fff;
}

.logo {
    max-width: 100%;
    height: auto;
    
}

/*-------------------------services--*/

.services-header {
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
}

.services-image {
    padding: 0 0 25px 250px;
    width: 300px;
    height: 300px;
}

/*-------------------------about--*/

/*-------------------------contact--*/



