@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 80px;

}

p {

}

/*-------------------------nav--*/

.navbar {
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: #475663;
}

/*-------------------------home--*/

.home-container {
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/hero-image.jpeg);
    /*-----background position found on W3schools---*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron {
    background-color: #fff;
}

.logo {
    max-width: 100%;
    height: auto;
    
}

/*-------------------------services--*/

.services {
    max-width: 100%;
}

#services li {
    list-style-type: none;
}

/*-------------------------about--*/


.about {
    background-color: #c1c1c1;
    max-width: 100%;
}

/*-------------------------contact--*/



